# Общие файлы
*.log
*.pyc
__pycache__/
*.pyo
*.pyd
.DS_Store
.env
.idea/
.vscode/

# Виртуальное окружение
backend/venv/
env/
ENV/

# Django
backend/db.sqlite3
backend/staticfiles/
backend/media/
backend/config/local_settings.py
*.sqlite3

# React
frontend/frontapp/node_modules/
frontend/node_modules/
frontend/frontapp/yarn.lock
frontend/yarn.lock
frontend/frontapp/dist/
frontend/frontapp/build/
backend/static/  # Игнорируем, так как генерируется Vite

# PythonAnywhere
*.wsgi
*.pid
*.err
*.out
.python-version
.runtime.txt

# Секреты
*.pem
*.key
*.crt
secrets.json
credentials.json